* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.container {
  height: 100vh;
  border: 1px solid black;
}

a {
  color: white;
}

.nav-bar {
  background-color: black;
  height: 8vh;
  color: white;
  border: 3px solid red;
}

.nav-list {
}

.show-info {
  display: none;
}

.nav-link {
  border: 2px solid white;
  padding: 1vh;
}

.active-link {
  border: 2px solid black;
  background-color: white;
  color: black;
}

.nav-item {
  margin-top: 3vh;
  margin-left: 1vw;
  width: 25vw;
}

.nav-item .dropdown-list {
  border: 2px solid black;
  padding-top: 5vh;
  margin-top: 1vh;
  color: black;
  background-color: white;
  padding: 1vh;
}

.dropdown-list a {
  color: black;
}
